!!!
html
  head
    title= title.readable
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 The Library
    ul
      li
        a(href='/') Home
      li
        a(href='/authors') List of authors
      li
        a(href='/books') List of books
    != body