!!!5
html
  head
    title= "eDave's Library - " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 eDave's Library
    ul
      li
        a(href='/', class=(type == "home" ? "selected" : "")) Home
      li
        a(href='/authors', class=(type == "author" ? "selected" : "")) Authors
      li
        a(href='/books', class=(type == "book" ? "selected" : "")) Books
    != body